# Ignore virtual environment
venv/
.env/
*.env

# Ignore Python cache
__pycache__/
*.pyc

# Ignore NLTK downloaded corpora (if inside project)
nltk_data/

# Ignore VSCode / PyCharm config
.vscode/
.idea/
